.chaat11{
    position: fixed;
  top: 460px;
}

.sousin{
    position: fixed;
  top: 460px;
  left: 758px;
  height: 45px;
  width: 150px;
}

.naiyou{
    position: fixed;
    top: 419px;    
    border-radius: 5px;
}

.chaaaat{
    font-size:30px;
    line-height:0px;
}
